.App {
  
    margin: 10px;
    display: flex;
}
ul {
  text-decoration:none;
  margin: 1rem;
}
 li  {
  list-style: none;
  margin: 1rem;
 
}

.llista {
    margin: 1rem;
    list-style: none;
    padding: 0;
    
}

.llista-cb {

  display: inline-block;
  

}

.total {
  list-style: none;
}

